h1{
  color:#294c83;
}
form {
	padding-top: 2em;
	padding-bottom: 1.5em;
	border-radius: .5em;
	background: rgba(61,112,178, 0.2);
}
@media screen and (max-width: 992px) {
	form{
		padding-bottom: 3.5em;
	}
}
